# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE/editor directories and files
.vscode/
.idea/
*.swp
*~

# Dependency directories (example for vendoring)
vendor/

# Logs
*.log

# Ignore go build output
bin/

# Ignore files backup tests
backup/

# Ignore the executable
btcgo
btcgo.exe

# Ignore files code
chaves_encontradas.txt
ultimaChavePorCarteira.txt